
html body {
    padding: 0;
    margin: 0;
}

.container {
    text-align: left;

}

.container-jumbotron {
    display: flex;
    justify-content: center;
/* .container-header {
    text-align: center; */
}

body {
    font-family: 'Crimson Text', serif;
}

.jumbotron {
    height: 50vh;
    text-align: center;
    display: flex;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1536584979139-dde0784c7c75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.display-4 {
    color: #5a5d61 !important;
}

.navbar {
    background-color: #24201b !important; 
}

.navbar a { 
    color: white !important;
    font-size: 17.3spt !important;
}

.navbar-nav {
    margin-left: auto !important; 
}

.navbar li {
    padding-left: 7px;
}

.navbar ul {
    text-align: right !important;
}

h1, h3 {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    color: #919191;
}
h2 {
    padding: 0 33% 0 33%;
    text-align: center;
}

h2, h5{
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    color: #919191;

}

h5 {
    padding: 0 33% 0 33%;
    text-align: center;
}


.navbar-nav > li {
    font-family: 'Teko', sans-serif;
    color: white !important;
    font-size: 16pt !important;
}

body {
background-image: url("https://images.unsplash.com/photo-1457382713369-161d1d986f54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");    
background-size: cover;
background-attachment: fixed; 
}


/* .horz {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; 
    width: 100%;  
} */

p {
    color: grey;
}


input {
    display: block;
    border: #000;
    padding-left: 10px;
    margin: 0;
    font-size: 1.2em;
}
h2  {

    margin-top: 250px;

}


.col-md-6  {
    padding: 0 33% 0 33%;
    text-align: center;
    font-size: 1.2em;
}

button {
    border: #000;
    width: 100px;
    background:#919191;
    
}



#footer {
    background-color: #24201b !important;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
    bottom: 0;
    margin-top: 50px;
}

.footer-links {
    list-style: none;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-title {
    font-family: 'Teko', sans-serif;
    color: white !important;
    font-size: 15pt;

}

.heart {
    padding-bottom: 3px;
}

.footer-logo {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.address {
    color: white !important;
    list-style: none;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    color: white !important;
}

a:hover { 
    color: #df5b42 !important;
  }






