.jumbotron-home {
    height: 80vh !important;
  
}

/* test */

h1 {
    text-align: center;
}

h3, h4, h5 {
    font-family: 'Teko', sans-serif;
}

.slogan {
    color: white;
    font-size: 6em;
}

.container {
    border: solid lightcoral;
}

.event-title {
    margin-top:13px;
}

.event-date {
    margin-top: -10px;
}

.event-card {
    /* border: solid lightblue; */
    min-height: 300px;
}

.events-section {
    background-color: lightcyan;
    position: relative;
    width: 100% !important; 
}

.events-background {
    background-color: lightcoral;
    z-index: -2;
    position: absolute;
    top: 145vh;
    height: 60%;
    width: 100%;
}

.sub-heading {
    margin-bottom: 28px;
    text-align: center;
}

.section {
    margin-top: 50px;
}

.jumbotron {
    border: solid red !important;
    text-align: center !important;
}

.hero-title {
    text-align: center;
}

.gallery1 {
  overflow: hidden;
   border: solid red;
   height: 15rem;
}

.img-food {
    width: 100%;
}







